<a href="https://colab.research.google.com/github/RiddhimaMisra/Machine-Learning/blob/main/Article_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing Required Libraries
import pandas as pd
import numpy as np

In [ ]:
#Importing Dataset
url ="https://raw.githubusercontent.com/amankharwal/Website-data/master/articles.csv"
dataset = pd.read_csv(url, encoding='latin1')

In [ ]:
#First five rows of the dataset
dataset.head()

,Article,Title
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms
2,You must have seen the news divided into categ...,News Classification with Machine Learning
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning

In [ ]:
#Last five rows of the dataset
dataset.tail()

,Article,Title
29,Many machine learning algorithms can be used t...,Applications of Deep Learning
30,Almost every app or website you visit today sh...,Introduction to Recommendation Systems
31,There are so many algorithms in machine learni...,Use Cases of Different Machine Learning Algori...
32,"In machine learning, the Naive Bayes algorithm...",Naive Bayes Algorithm in Machine Learning
33,Swapping elements of a Python list is very sim...,Swap Items of a Python List

In [ ]:
#Number of Rows and column of dataset
dataset.shape

(34, 2)

In [ ]:
#Data types of each column
dataset.dtypes

Article    object
Title      object
dtype: object

In [ ]:
#information about the DataFrame
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Article  34 non-null     object
 1   Title    34 non-null     object
dtypes: object(2)
memory usage: 672.0+ bytes

In [ ]:
#Converting articles into ordinary list
articles = dataset["Article"].tolist()

In [ ]:
#Importing required library
from sklearn.feature_extraction import text

#Number of time a word appears in a text document
data_text = text.TfidfVectorizer(stop_words="english", input=articles)

#Most relevant and less relevant
dataset_matrix = data_text.fit_transform(articles)

In [ ]:
#Importing required library
from sklearn.metrics.pairwise import cosine_similarity

#Similarities between elements
cosine_simi = cosine_similarity(dataset_matrix, dataset_matrix)
cosine_simi

array([[1.        , 0.02858003, 0.02014231, ..., 0.12022323, 0.00455773,
        0.02511323],
       [0.02858003, 1.        , 0.07651482, ..., 0.30365338, 0.27795728,
        0.00383369],
       [0.02014231, 0.07651482, 1.        , ..., 0.08401534, 0.05252305,
        0.03233971],
       ...,
       [0.12022323, 0.30365338, 0.08401534, ..., 1.        , 0.12620279,
        0.04275628],
       [0.00455773, 0.27795728, 0.05252305, ..., 0.12620279, 1.        ,
        0.02113943],
       [0.02511323, 0.00383369, 0.03233971, ..., 0.04275628, 0.02113943,
        1.        ]])

In [ ]:
#Function to return the best 5 recommended articles
def recommend_articles(x):
  return ", ".join(dataset["Title"].loc[x.argsort()[1:8]])  #argsort means indices of value arranged in ascending order
dataset["Recommended Articles"] = [recommend_articles(x) for x in cosine_simi]
dataset.head()

,Article,Title,Recommended Articles
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis,"Assumptions of Machine Learning Algorithms, Ne..."
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms,"Best Python Frameworks to Build APIs, Send Ins..."
2,You must have seen the news divided into categ...,News Classification with Machine Learning,"Best Books to Learn NLP, Best Books to Learn D..."
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...,For Loop Over Keys and Values in a Python Dict...
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning,"Swap Items of a Python List, Tata Motors Stock..."

In [ ]:
#Recommendations of best 7 Articles by using index number
print(dataset["Recommended Articles"][16].split(","))

['Swap Items of a Python List', ' Pfizer Vaccine Sentiment Analysis using Python', ' Squid Game Sentiment Analysis using Python', ' Best Books to Learn Computer Vision', ' Tata Motors Stock Price Prediction with Machine Learning', ' Animated Scatter Plot using Python', ' Voice Recorder using Python']